*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1f1f1f
}

.btn-container{
  padding: 2% 0;
  text-align: center;
}
.img-container{
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.btn{
  text-transform: uppercase;
  background-color: #6a5acd;
  border: 3px solid #6a5acd;
  color: #fff;
  padding: 10px 17px;
}

.img-container div {
  box-shadow: 0 16px 36px rgb(0, 0, 0, .5);
  border-radius: 8px;
}
.div img{
  max-width: 100%;
  display: block;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}
.div{
  width: calc(310px - 10px);
  margin: 10px;
  transition: ease 5s linear;
}
.active{
  color: #fff;
  background-color: transparent;
  border: 3px solid #6a5acd;
  transition: .5s ease;
}